.content{


  h1{
    font-weight: 900; font-size: 22px; line-height: 25px; color: #555;
    padding-left: 12px; margin: 25px 0;border-left: 4px solid #555;
  }

  h3{
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    margin: 28px 0 16px 0;
    padding: 4px 0;
  }

  p{
    margin: 16px 0; color: #333; font-size: 13px;
  }

  b{
    color: #000; font-weight: bold; padding: 0 1px;
  }

  a{
    color: #1e69e1;
    &:hover{
      text-decoration: underline;
      color: #2b6dd7;
    }
  }



  big{
    padding: 3px 6px;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    color: #000;
    font-weight: bold;
    font-style: normal;
    border: 1px solid #888;
    background: #ddd;
    border-radius: 4px;
    text-shadow: 0 1px 1px #fff;
  }


  dfn{
    padding: 0 5px;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    color: #00620C;
    font-weight: bold;
    font-style: normal;
  }

  var{
    padding: 0 5px;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    color: #8F5B00;
    font-weight: bold;
    font-style: normal;
  }

  kbd{
    padding: 0 5px;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    color: #A70000;
    font-weight: bold;
    font-style: normal;
  }


  pre{
    background-color: #F0F0F0;
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin: 0;
    padding: 14px;
    code{
      padding: 0;
    }
  }


  //注释
  .note{
    color: #999;
  }

  //注意
  .impor{
    font-family: Lucida Grande, Verdana, Geneva, Sans-serif;
    font-size: 13px;
    background: #FBE6F2;
    border: 1px solid #D893A1;
    color: #333;
    margin: 14 0;
    padding: 10px;
  }


}